<div class="bg-info p-a-1 m-b-1" *ngIf="formSubmitted && form.invalid">
  There are a problem with the form
</div>

<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
  <div class="form-group">
    <label for="">Name</label>
    <input
      name="name"
      class="form-control"
      #name="ngModel"
      [(ngModel)]="newProduct.name"
      required="true"
      minlength="5"
      pattern="^[A-Za-z ]+$" />
    <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || name.dirty) && name.invalid">
      <li *ngFor="let error of getValidationMessages(name)">
        {{ error }}
      </li>
    </ul>
  </div>
  <button class="btn btn-primary" type="submit">
    Create
  </button>
</form>
